<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="pseudo">Pseudo</label>
    <input type="text" class="form-control" formControlName="pseudo" />
  </div>
  <div>
    <label for="email">Adresse mail</label>
    <input type="text" class="form-control" formControlName="email" />
  </div>
  <div>
    <label placeholder="au moins 6 characteres" for="password"
      >Mot de passe</label
    >
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <div>
    <label placeholder="au moins 6 characteres" for="password"
      >Confirmer le mot de passe</label
    >
    <input
      type="password"
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Créer mon compte
  </button>
  <button mat-raised-button color="primary" (click)="onReset()">
    Annnuler
  </button>
</form>
