<app-user-list [users]="users" [currentUser]="currentUser"></app-user-list>
<app-chat-list
  [conversations]="conversations"
  (keyToEmit)="getConversationKey($event)"
></app-chat-list>
<app-feed
  *ngIf="currentConversation != null"
  [currentUser]="currentUser"
  [currentConversation]="currentConversation"
  [currentChat]="currentChat"
></app-feed>
<app-chat
  *ngIf="currentConversation != null"
  [currentUser]="currentUser"
  [currentConversation]="currentConversation"
  [currentChat]="currentChat"
></app-chat>
