<div class="all">
  <app-find-user [users]="users" [currentUser]="currentUser"></app-find-user>
  <app-chat-list [conversations]="conversations" (keyToEmit)="getConversationKey($event)"></app-chat-list>
  <div #scroller>
    <app-feed *ngIf="currentConversation != null" [currentUser]="currentUser"
      [currentConversation]="currentConversation" [currentChat]="currentChat"></app-feed>
  </div>
  <app-chat *ngIf="currentConversation != null" [currentUser]="currentUser" [currentConversation]="currentConversation"
    [currentChat]="currentChat"></app-chat>
</div>